*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
}
.group{
    width: auto;
    text-align: center;
}
#top{
    color: darkblue;
}
.group label{
    display: block;
    padding: 20px;
}
.group input{
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px;
    width: calc(100%-40px);
}
 .group .power-container{
    width: 100%;
    background-color: blueviolet;
    height: 15px;
    border-radius: 50px;
}
#power-point{
    background-color: deeppink;
    height: 100%;
    width: 2%;
    border-radius: 50px;
    transition: 0.5sec;
}